body {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.hidden {
  display: none;
}

.line {
  text-decoration: line-through;
}
.wrap {
  height: 250px;
}
.wrap > span {
  font-size: 25px;
}

.form-style {
  padding: 15px 0;
  display: flex;
  justify-content: center;
}
.input-style {
  font-size: 16px;
  padding: 2px 10px;
  margin-right: 4px;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid #6c757d;
}

.input-style:focus {
  outline: none;
  border-color: #0d6efd;
}

.todo-list > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

li > span {
  width: 180px;
  flex-wrap: nowrap;
}

.btns {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #6c757d;
}
.btns:hover {
  color: #111;
  transition: all 0.5s;
}
