
body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
/* background-images */
.bgimage {
  width: 100%;
  height: 100%;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.bgimage > img {
  width: 100%;
  height: 100%;
}


/* 로그인 화면(첫화면) */
.login-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.login-wrap.hidden {
  display: none;
}
.login-wrap .notion {
  font-size: 14px;
  color: rgba(255, 255, 255, .8);
  line-height: 30px;
  margin-bottom: 10px;
}

.login-wrap .user-wrap {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: no-repeat center/85% #6998AB url("../images/user.png");
  margin-bottom: 15px;
  box-shadow: 0px 0px 3px 3px rgba(58,85,95,0.5);
}
.login-wrap > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 35px;
}
.login-wrap > form > input{
  text-align: center;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #6998AB;
  background-color: rgba(255, 255, 255, 0);
  color: #1A374D;
  outline: none;
}

/* main */
.main-wrap.hidden {
  display: none;
}

.main-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* .first-wrap, .second-wrap, .third-wrap */
.main-wrap .wrap {
  width: 32.3333%;
  border-radius: 20px;
  background-color: rgba(105, 152, 171, .6);
  height: 100%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-wrap .total-wrap {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
}