/* 공통으로 들어가는 CSS */

body {
  height: 100vh;
  text-align: center;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.line {
  text-decoration: line-through;
}
.wrap {
  height: 250px;
}
.wrap > span {
  font-size: 25px;
}

.form-style {
  padding: 15px 0;
  display: flex;
  justify-content: center;
}
.input-style {
  font-size: 16px;
  padding: 2px 10px;
  margin-right: 4px;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid #6c757d;
}

.input-style:focus {
  outline: none;
  border-color: #0d6efd;
}

.todo-list > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

li > span {
  width: 180px;
  flex-wrap: nowrap;
}

.btns {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #353b48;
}
.btns:hover {
  color: #111;
  transition: all 0.5s;
}
.link {
  padding: 10px;
}
.link > a {
  font-size: 18px;
}
a:hover {
  color: #6c757d;
}
.sub-nav {
  position: absolute;
  padding: 10px;
  background-color: #2c3e50;
  color: #f1f1f1;
  border-radius: 5px;
  margin-top: 10px;
}
.footer-btn {
  padding: 10px;
  background-color: #353b48;
  color: #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
}
.footer-btn:hover {
  background-color: #f1f1f1;
  color: #353b48;
  transition: ease-in-out 0.5s;
}
.colors {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}
.colors.selete {
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
}
.choose-option {
  background-color: #111;
  color: #f1f1f1;
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
}
.choose-option > i {
  font-size: 20px;
}
