@import url("reset.css");
@import url("common.css");
/* @import url("responsive.css"); */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap");

.background-images {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}
.background-images > img {
  width: 100%;
  height: 100%;
}
.sign-wrap {
  padding-top: 100px;
}
.clock-wrap {
  font-size: 85px;
  padding: 50px 0;
}
.saying-wrap {
  padding: 0 10px;
  color: #bdc3c7;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
.saying-wrap:hover {
  color: #353b48;
  transition: all 0.5s;
}
.header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.todo-list {
  height: 250px;
}
.link-wrap {
  position: relative;
}
.links-list {
  margin-left: 5px;
}
.user-wrap {
  position: relative;
}
.logout-wrap {
  right: 15px;
}
.logout-wrap > i {
  cursor: pointer;
}
.footer-wrap {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
