@import url("reset.css");
@import url("common.css");
@import url("responsive.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap");

.background-images {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}
.background-images > img {
  width: 100%;
  height: 100%;
}
.sign-wrap {
  padding-top: 50px;
}
.clock-wrap {
  font-size: 85px;
  padding: 10px 0 50px 0;
}
.saying-wrap {
  padding: 0 10px;
  color: #bdc3c7;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
.saying-wrap:hover {
  color: #353b48;
  transition: all 0.5s;
}
.header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.todo-list {
  width: 300px;
  height: 230px;
  margin: auto;
  overflow-y: auto;
}
/* 스크롤바 설정*/
.todo-list::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 막대 설정*/
.todo-list::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(255, 255, 255, 1);
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.todo-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.link-wrap {
  position: relative;
}
.links-list {
  margin-left: 5px;
}

.user-wrap {
  position: relative;
}
.logout-wrap {
  right: 15px;
}
.logout-wrap > i {
  cursor: pointer;
}
.footer-wrap {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paint-modal-wrap {
  position: absolute;
  width: 90%;
  height: 80%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #353b48;
  border-radius: 10px;
  transform: translateX(-10000px);
  transition: ease-in-out 0.5s;
}
.canvas {
  width: 90%;
  height: 80%;
  margin-top: 5%;
  border-radius: 5px;
  background-color: #fff;
}
.color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.option-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.options {
  display: flex;
}
.range-wrap {
  margin-right: 10px;
}
.email-modal-wrap {
  width: 400px;
  position: absolute;
  background-color: #353b48;
  bottom: 10%;
  right: 10%;
  padding: 10px 20px;
  border-radius: 5px;
  transform: translateX(-10000px);
  transition: ease-in-out 0.5s;
}
.thankyou_message {
  margin: 15px 0;
  color: #00cec9;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.success-btn {
  color: #bdc3c7;
}
