@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap');



body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
/* background-images */
.bgimage {
  width: 100%;
  height: 100%;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.bgimage > img {
  width: 100%;
  height: 100%;
}

/* 로그인 화면(첫화면) */
.login-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.login-wrap.hidden {
  display: none;
}
.login-wrap .notion {
  font-size: 14px;
  color: rgba(255, 255, 255, .8);
  line-height: 30px;
  margin-bottom: 10px;
}

.login-wrap .user-wrap {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: no-repeat center/85% #6998AB url("../images/user.png");
  margin-bottom: 15px;
  box-shadow: 0px 0px 3px 3px rgba(58,85,95,0.5);
}
.login-wrap > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 35px;
}
.login-wrap > form > input{
  text-align: center;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #6998AB;
  background-color: rgba(255, 255, 255, 0);
  color: #1A374D;
  outline: none;
}


.main-wrap.hidden {
  display: none;
}

.main-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrap .menu-bar {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  left: -5px;
  padding: 10px 15px;
  background-color: rgba(105, 152, 171, .6);
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  display: none;
  margin: 0;
}
.main-wrap .menu-bar:hover {
  transform: translateX(5px);
  transition: all .5s;
}
.main-wrap .menu-bar > img {
  width: 100%;
  height: 100%;
}
.main-wrap > * {
  width: 32.3333%;
  border-radius: 20px;
  background-color: rgba(105, 152, 171, .6);
  height: 96%;
  margin: 2%;
  display: flex;
  flex-direction: column;

}
.main-wrap  .first-wrap {
  justify-content: space-evenly;
  transition: all .5s;
}
.first-wrap .btn-wrap {
  display: flex;
  justify-content: space-between;
  margin: 30px 10px 0 10px;
}

.btn-wrap .logout-wrap {
  width: 34px;
}
.logout-wrap .logout {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.logout-wrap .logout:hover {
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 3px 5px 10px -3px inset, rgba(0, 0, 0, 0.3) 0px 18px 10px -18px inset;
}
.btn-wrap .close-wrap {
  width: 34px;
  opacity: .5;
  display: none;
}
.btn-wrap .close-wrap:hover {
  opacity: 1;
  transition: all .5s;
}
.close-wrap img {
  width: 100%;
  height: 100%;
}
.first-wrap .user-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}
.user-profile .weather-wrap > span {
  display: block;
}
.user-profile .photo-wrap {
  width: 300px;
  height: 50%;
}
.user-profile .photo-wrap > img {
  border: 2px solid #1A374D;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.user-profile .clock {
  font-size: 25px;
}
.user-profile .file-wrap .upload-photo {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.user-profile .file-wrap label {
  font-size: 10px;
  color: #406882;
  text-decoration: underline;
  cursor: pointer;
}
.user-profile .file-wrap label:hover {
  color: #1A374D;
  transition: color .3s;
}
.user-profile .greeting-wrap {
  padding-top: 5px;
  line-height: 20px;
  font-size: 20px;
}
.first-wrap .saying {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  line-height: 25px;
  margin: 2%;
}
.saying p:first-child {
  font-weight: bold;
  color: #1A374D;
  font-size: 16px;
}
.saying p:last-child {
  font-size: 10px;
  color: #406882;
}

.main-wrap .second-wrap {
  justify-content: flex-start;
}
.second-wrap .todo-wrap {
  width: 100%;
  height: 100%;
}
.second-wrap .todo-wrap .todo-form {
  width: 90%;
  display: inline-block;
  padding: 5% 10%;
  margin: 25px 0;
  border-bottom: 2px dashed #6998AB;
  border-top: 2px dashed #6998AB;
  box-sizing: border-box;
  font-size: 20px;
}
.second-wrap .todo-wrap .todo-form .todo-title {
  height: 25px;
  line-height: 20px;
}
.second-wrap .todo-wrap .todo-form input {
  width: 100%;
  border: none;
  background-color: rgba(105, 152, 171, .3);
  padding: 6px 0;
  text-align: center;
  color: #fff;
  outline: none;
  font-size: 20px;
}
.second-wrap .todo-wrap .todo-form input::placeholder {
  color: rgba(255, 255, 255, .7);
}
.second-wrap .todo-wrap .todo-list {
  margin: 0 8%;
}
.second-wrap .todo-wrap .todo-list > li {
  width: 100%;
  margin: 6% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-wrap .todo-wrap .todo-list > li > input {
  display: none;
}
.second-wrap .todo-wrap .todo-list > li > button{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}
.second-wrap .todo-wrap .todo-list > li > label {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid #6998AB;
  box-sizing: border-box;
}
.second-wrap .todo-wrap .todo-list > li > label.line {
  background-color: rgba(105, 152, 171, .6);
  border: 2px solid #406882;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -6px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  box-sizing: border-box;
}

.second-wrap .todo-wrap .todo-list > li > label.line + span.line {
  color: #1A374D;
  text-decoration: line-through;
}
.second-wrap .todo-wrap .todo-list > li > span {
  width: 80%;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.main-wrap .third-wrap {
  justify-content: flex-start;
}
.third-wrap .paint-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  height: 70%;
}
.third-wrap .paint-wrap canvas {
  width: 90%;
  height: 80%;
  margin: 20px 0;
}
.third-wrap .paint-wrap .controls-wrap {
  display: flex;
  flex-direction: column;
}
.controls-wrap .controls-range {
  margin-bottom: 10px;
}
.controls-wrap .controls-btn {
  margin-bottom: 5px;
}
.controls-wrap .controls-btn > button {
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid #1A374D;
  padding: 4px 6px;
  margin: 0 2px;
}
.controls-wrap .controls-btn > button:hover {
  background-color: rgba(105, 152, 171, .6);
  transition: all .3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: rgba(255, 255, 255, .8);
}

.controls-wrap .color-picker {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px dashed #406882;
  box-sizing: border-box;
}
.controls-wrap .color-picker .colors {
  width: 40px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 1%;

}
.controls-wrap .color-picker .colors.selete {
  border: 1px solid #fff;
  box-sizing: border-box;
  transform: scale(1.15);
}
.controls-wrap .color-picker .colors:hover {
  transform: scale(1.15);
  transition: all .3s;
  border: 1px solid #6998AB;
  box-sizing: border-box;
}

.third-wrap .link-wrap {
  height: 15%;
  margin-top: 10px;
}
.third-wrap .link-wrap ul.links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.third-wrap .link-wrap ul.links .link {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}
.third-wrap .link-wrap ul.links .link > a {
  display: block;
  width: 100%;
  height: 100%;
}
.third-wrap .link-wrap ul.links .link > a:hover {
  transform: translateY(-10px);
  transition: all .3s;
}
.third-wrap .link-wrap ul.links .link > a > img {
  width: 100%;
  height: 100%;
}

.third-wrap .madeby {
  height: 5%;
}
.third-wrap .madeby > p {
  height: 100%;
  line-height: 80px;
  letter-spacing: 2px;
}
.third-wrap .madeby > p > span {
  font-weight: bold;
}
.third-wrap .madeby > p > span > a {
  text-decoration: none;
  color: #6998AB;
	background-image: -webkit-linear-gradient(92deg, #1A374D, #B8B5FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}
.third-wrap .madeby > p > span > a:hover {
  text-decoration: none;
  color: #23049D;
	background-image: -webkit-linear-gradient(92deg, #AA2EE6, #FFDF6B);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}
.third-wrap .madeby > p > span > a:visited {
  text-decoration: none;
  color: #B8B5FF;
}

/* responsive web */
@media screen and (max-width: 1500px){
  .main-wrap .menu-bar {
    display: block;
  }
  .main-wrap  .first-wrap {
    position: absolute;
    top: 0;
    left: -600px;
    height: 100%;
    margin: 0;
    border-radius: 0 20px 20px 0; 
    background-color: rgba(105, 152, 171, 1);
  }
  .btn-wrap .close-wrap {
    display: block;
  }
  .main-wrap .second-wrap {
    width: 30%;
  }
  .main-wrap .third-wrap {
    width: 50%;
  }
  
}